spring:
  config:
    activate:
      on-profile: dev
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
  datasource:
    url: jdbc:h2:mem:booking
    username: dev
    password: book
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
server:
  port: 8080
  servlet:
    context-path: /api/v1
